.input {
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    background: var(--input-color-default);
    font: var(--font-s);
    border: 1px solid var(--main-font-color);
    transition: all 0.3s;
    color: var(--main-font-color);
}

.input:focus {
    background: var(--input-color-focused);
    border: 1px solid var(--main-font-color);
}

.input::placeholder {
    color: var(--add-font-color);
}

.readonly:focus {
    background: var(--input-color-default);
}