@import 'reboot';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';

.app {
    background: var(--bg-color);
    font: var(--font-m);
    color: var(--main-font-color);
    min-height: 100vh;
}

.content-page {
    display: grid;
    grid-template-areas:
        'sidebar navbar'
        'sidebar content';
    grid-template-columns: max-content auto;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-rows: 60px auto;
}

.page-wrapper {
    grid-area: content;
    padding: 20px 80px;
}