.title {
    font: var(--font-l);
}

.text {
    font: var(--font-m);
}

.error {
    .title {
        color: var(--accent-color);
    }

    .text {
        color: var(--accent-color-2);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}