.avatar {
    object-fit: cover;
}

.comment {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.profile {
    border-radius: 7px;
    width: 155px;
    height: 200px;
}

.corner {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}