.avatar {
    object-fit: cover;
}

.comment {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.profile {
    border-radius: 7px;
    width: 155px;
    height: 200px;
}

.corner {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.article {
    border-radius: 50%;
    width: 175px;
    height: 175px;
}