.sidebar {
    height: calc(100vh - var(--navbar-height) - 10px);
    width: 300px;
    background: var(--not-general-bg-color);
    transition: width 0.3s;
    border: 1px solid #222222;
    border-radius: 14px;
    padding: 15px;
    position: relative;
    margin-left: 10px;
}

.collapsed {
    width: 150px;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: calc(100% - 30px);
}

.lang_switcher {
    margin-left: 10px;
}

.collapsing_btn {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -14px;
    bottom: 50%;
    border-radius: 25%;
    background: var(--not-general-bg-color);
    border: 1px solid var(--primary-color);
    font-size: 20px;
}

.links {
    margin-top: 100px;
    margin-left: 13px;
    display: flex;
    flex-direction: column;
}

.link {
    display: flex;
    align-items: center;

    span {
        margin-left: 7px;
    }
}

.link:not(:last-child) {
    margin-bottom: 6px;
}