.sidebar {
    grid-area: sidebar;
    height: 100vh;
    width: var(--sidebar-width);
    background: var(--main-color-2);
    transition: width 0.3s;
    border-radius: 0 10px 10px 0;
    padding: 30px 10px;
    position: relative;
}

.collapsing_btn {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    bottom: 50%;
    font-size: 20px;
}

.links {
    margin-top: 100px;
    margin-left: 13px;
    display: flex;
    flex-direction: column;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

.lang_switcher {
    margin-left: 10px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    display: flex;
    flex-direction: column;
    align-items: center;

    .links {
        margin-left: 0;
    }

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang_switcher {
        margin-left: 0;
    }
}