.Code {
    border: 1px solid var(--main-font-color);
    padding: 20px;
    position: relative;
    background: var(--code-bg);
    overflow: auto;
}

.copyBtn {
    position: absolute;
    right: 30px;
    top: 20px;
}

.copyIcon path {
    stroke: var(--main-font-color);
}
