.app_dark_theme {
    --main-color: #24484E;
    --main-color-2: #183A40;

    --bg-color: #252525;

    --accent-color: #F15A3B;
    --accent-color-2: #FB7A7A;

    --main-font-color: #FDFDFD;
    --add-font-color: #929292;

    --input-color-default: #454545;
    --input-color-focused: #717171;

    --button-color: #FDFDFD;

    --skeleton-color: #151C1F;
    --skeleton-shadow: #0C1214;

    --code-bg: #151C1F;
}