.app_light_theme {
    --main-color: #24484E;
    --main-color-2: #365B61;

    --bg-color: #FFF3DA;

    --accent-color: #F15A3B;
    --accent-color-2: #C83939;

    --main-font-color: #191919;
    --add-font-color: #717171;

    --input-color-default: #FCF7EC;
    --input-color-focused: #FDFDFD;

    --button-color: #365B61;

    --skeleton-color: #F0E7D4;
    --skeleton-shadow: #E7D4A9;
}