.app_swamp_theme {
    --main-color: #24484E;
    --main-color-2: #445019;

    --bg-color: #F2D791;

    --accent-color: #F15A3B;
    --accent-color-2: #FF5E5E;

    --main-font-color: #191919;
    --add-font-color: #717171;

    --input-color-default: #FCF7EC;
    --input-color-focused: #FDFDFD;

    --button-color: #315C0D;

    --skeleton-color: #ECD092;
    --skeleton-shadow: #DABA71;

    --code-bg: #ECD092;
}
