.profileCard {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 28px;
}

.input_wrapper {
    p {
        font: var(--font-s);
        opacity: 0.7;
        margin-bottom: 4px;
    }
}

.avatar_wrapper {
    margin-right: 20px;
}

.subtitle {
    margin-bottom: 20px;
}

.main_info {
    display: flex;
    margin-bottom: 23px;
}

.data {
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        gap: 16px;
    }

    .row:not(:last-child) {
        margin-bottom: 16px;
    }
}