.commentCard {
    padding: 10px 15px;
    border: 1px solid var(--main-font-color);
    border-radius: 10px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.avatar {
    cursor: pointer;
    margin-right: 7px;
}

.username {
    color: var(--main-font-color);
    cursor: pointer;
}
