.isLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
}

.bottom {
    display: flex;
    justify-content: flex-end;
}

.edit_btn {
    margin-right: 10px;
}